---
title: Home
layout: default
background: '/img/bg-index.jpg'
---

<!-- Home Intro
================================================== -->
<div class="flex-center" id="featured-wrapper">
  <div class="featured container row-x1 section" id="featured" name="Featured Posts">
    <div class="widget PopularPosts" data-version="2" id="PopularPosts1">
      <div class="widget-content">
        <div class="featured-items">
          <div class="featured-left">
            {% for post in site.posts limit:1 %}
              <div class="featured-item item-{{ forloop.index0 }}">
                <a class="entry-image-wrap" href="{{ post.url }}" title="{{ post.title }}">
{% if post.image %}
            <span class="entry-thumb lazy-ify" data-image="{{ post.image }}" style="background-image:url({{ post.image }})"></span>
            {% endif %}
                </a>
                <div class="entry-header">
                  {% if post.categories %}
                    <span class="entry-category">{{ post.categories[0] }}</span>
                  {% endif %}
                  <h2 class="entry-title">
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                  </h2>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="featured-right">
            {% for post in site.posts limit:3 offset:1 %}
              <div class="featured-item item-{{ forloop.index0 | plus:1 }}">
                <a class="entry-image-wrap" href="{{ post.url }}" title="{{ post.title }}">
{% if post.image %}
            <span class="entry-thumb lazy-ify" data-image="{{ post.image }}" style="background-image:url({{ post.image }})"></span>
            {% endif %}
                  
                </a>
                <div class="entry-header">
                  {% if post.categories %}
                    <span class="entry-category">{{ post.categories[0] }}</span>
                  {% endif %}
                  <h2 class="entry-title">
                    <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
                  </h2>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="row">
  <div class="col-sm-8">


<div class="trending section" id="trending" name="Trending Posts">
  <div class="widget PopularPosts" data-version="2" id="PopularPosts2">
    <div class="widget-title title-wrap">
      <h3 class="title">Trending News</h3>
    </div>
    <div class="widget-content">
      <div class="trending-items">
        {% for post in site.posts limit:6 %}
          <div class="trending-item item-{{ forloop.index0 }}">
            <a class="entry-image-wrap {{ post.featured_image ? 'is-image' : 'is-video' }}" href="{{ post.url }}" title="{{ post.title }}">
              {% if post.featured_image %}
                <span class="entry-thumb" style="background-image:url('{{ post.featured_image }}');"></span>
              {% else %}
                <span class="entry-thumb" data-image="https://resources.blogblog.com/img/blank.gif"></span>
              {% endif %}
              <span class="trending-count">{{ forloop.index }}</span>
            </a>
            <div class="entry-header">
              {% if post.categories %}
                <span class="entry-category">{{ post.categories[0] }}</span>
              {% endif %}
              <h2 class="entry-title">
                <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
              </h2>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

    
<div class="blog-posts hfeed index-post-wrap">
      {% for post in paginator.posts %}
      {% unless post.featured == true %}
<div class="blog-posts hfeed index-post-wrap">
  {% for post in site.posts %}
      {% if post.featured == true %}
{% assign author = site.authors[post.author] %}
<article class="blog-post hentry index-post post-{{ forloop.index0 }}">
<a class="entry-image-wrap is-video" href="{{ post.url | absolute_url }}" title="{{ post.title }}">{% if post.image %}<span class="entry-thumb" data-image="{{ site.baseurl }}/{{ post.image }}"></span>{% endif %}
</a>
<div class="entry-header">
<span class="entry-category">Apple</span>
<h2 class="entry-title"><a class="entry-title-link" href="{{ post.url | absolute_url }}" rel="bookmark" title="{{ post.title }}">{{ post.title }}</a></h2>
<p class="entry-excerpt excerpt">{{ post.excerpt | strip_html | truncatewords:15 }}</p>
<div class="entry-meta">
<span class="entry-author">
<span class="by">by</span><span class="author-name">{% if post.author %}{{ author.display_name }}{% else %}{{ site.author }}{% endif %}</span></span>
<span class="entry-time"><span class="on">-</span><time class="published" datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time></span>
</div>
</div>
</article>
      {% endif %}
  {% endfor %}
  </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <span class="navigation" role="navigation">
          {% include pagination.html %}
      </span>
    </div>
  </div>
  <div class="col-sm-4">
    {% include sidebar.html %}
  </div>
</section>
