---
layout: default
title: "Pencarian"
---

<h1>Halaman Pencarian</h1>
<form action="/search/" method="get">
    <input type="text" name="q" placeholder="Cari...">
    <input type="submit" value="Cari">
</form>

{% assign query = page.url | split: '?' | last | split: '=' | last %}
{% assign query = query | uri_decode %}

{% if query %}
    <h2>Hasil Pencarian untuk: {{ query }}</h2>
    <ul>
        {% for post in site.posts %}
            {% if post.title contains query or post.content contains query %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
{% else %}
    <p>Masukkan kata kunci untuk mencari.</p>
{% endif %}
