---
layout: default
title: Tag
---

<h1>Daftar Postingan Berdasarkan Tag</h1>

{% assign tag_name = page.tag %}
{% assign posts_in_tag = site.posts | where: "tags", tag_name %}

{% paginate posts_in_tag by 5 %}
  <ul>
    {% for post in paginator.posts %}
      <li>
        <a href="{{ post.url }}">{{ post.title }}</a>
        <p>{{ post.excerpt }}</p>
      </li>
    {% endfor %}
  </ul>

  {% if paginator.page_count > 1 %}
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}">Previous</a>
      {% endif %}
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}">Next</a>
      {% endif %}
    </div>
  {% endif %}
{% endpaginate %}
