<nav id="breadcrumb">
  <a class="home" href="{{ site.url }}">Home</a>
  <em class="delimiter"></em>
  {% if page.categories %}
    {% for category in page.categories %}
      <a class="label" href="{{ site.url }}/categories/{{ category | slugify }}/">{{ category | strip | escape }}</a>
      <em class="delimiter"></em>
    {% endfor %}
  {% endif %}
  <span class="current">{{ page.title | escape }}</span>
</nav>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BreadcrumbList",
  "itemListElement": [
    {
      "@type": "ListItem",
      "position": 1,
      "name": "Home",
      "item": "{{ site.url }}"
    }
    {% if page.categories %}
      {% for category in page.categories %}
      ,{
        "@type": "ListItem",
        "position": {{ forloop.index | plus: 1 }},
        "name": "{{ category | strip | escape }}",
        "item": "{{ site.url }}/categories/{{ category | slugify }}/"
      }
      {% endfor %}
    {% endif %}
    ,{
      "@type": "ListItem",
      "position": {{ page.categories | size | plus: 2 }},
      "name": "{{ page.title | escape }}",
      "item": "{{ page.url | absolute_url }}"
    }
  ]
}
</script>
