<div class="blog-posts">
  {% for post in paginator.posts %}
    <div class="post">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p>{{ post.excerpt }}</p>
      <a href="{{ post.url }}" class="read-more">Read More</a>
    </div>
  {% endfor %}
</div>

<!-- Tombol "Load More" -->
{% if paginator.next_page %}
  <div class="load-more-container">
    <button id="load-more-button" data-next-page="{{ paginator.next_page_path }}" class="load-more-btn">Load More</button>
    <span class="loading" style="display: none;"><div class="loader"></div></span>
  </div>
{% endif %}
