<div class="blog-pager" id="blog-pager">
  {% if paginator.next_page %}
    <a class="blog-pager-older-link btn load-more" href="?page={{ paginator.next_page }}" id="supermag-pro-load-more-link">
      {{ "Load more posts" | translate }}
    </a>
    <span class="loading"><div class="loader"></div></span>
    <span class="no-more btn load-more" style="display: none;">
      {{ "No more posts" | translate }}
    </span>
  {% else %}
    <span class="no-more btn load-more show">
      {{ "No more posts" | translate }}
    </span>
  {% endif %}
</div>
