{% if paginator %}
    <div class="blog-posts hfeed index-post-wrap" id="post-list">
        {% for post in paginator.posts %}
            {% include post_list_item.html %}
        {% endfor %}
    </div>

    <div class='blog-pager' id='blog-pager'>
        {% if paginator.next_page %}
            <a class='blog-pager-older-link btn load-more' href='{{ paginator.next_page_path | relative_url }}' id='supermag-pro-load-more-link'>
                Load More
            </a>
            <span class='loading'><div class='loader'></div></span>
            <span class='no-more btn load-more' style='display:none;'>No More Posts</span>
        {% else %}
            <span class='no-more btn load-more show'>No More Posts</span>
        {% endif %}
    </div>
{% endif %}
