{% if paginator %}
    <div class="blog-posts hfeed index-post-wrap" id="post-list">
        {% for post in paginator.posts %}
            {% include post_list_item.html %}
        {% endfor %}
    </div>
{% else %}
    <div class="blog-posts hfeed index-post-wrap" id="post-list">
        {% for post in include.posts %}
            {% if post.tags or post.category %}
                {% include post_list_item.html %}
            {% endif %}
        {% endfor %}
    </div>
{% endif %}

{% if paginator %}
    <div class="blog-pager" id="blog-pager">
        {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path | relative_url }}" id="supermag-pro-load-more-link" class="btn btn-primary">Load More</a>
        {% endif %}
        <div id="blog-pager">
            <div class="loading" style="display:none;">Loading...</div>
            <div class="no-more" style="display:none;">No more posts available.</div>
        </div>
    </div>
{% endif %}
