{% if paginator %}
    {% for post in paginator.posts %}
        {% include post_list_item.html %}
    {% endfor %}
{% else %}
    {% for post in include.posts %}
        {% if post.tags or post.category %}
            {% include post_list_item.html %}
            {% assign displayPagi = true %}
        {% endif %}
    {% endfor %}
{% endif %}

{% if displayPagi or paginator %}
    <div class='blog-pager' id='blog-pager'>
      {% if paginator.next_page %}
        <a class='blog-pager-older-link btn load-more' href='/page{{ paginator.next_page }}' id='supermag-pro-load-more-link'>
          Load More Posts
        </a>
        <span class='loading'><div class='loader'></div></span>
        <span class='no-more btn load-more' style='display:none;'>No More Posts</span>
      {% else %}
        <span class='no-more btn load-more show'>No More Posts</span>
      {% endif %}
    </div>
{% endif %}
{% assign displayPagi = false %}
