<div class="widget PopularPosts" data-version="2" id="PopularPosts3">
  <div class="widget-title title-wrap">
    <h3 class="title">Popular Posts</h3>
  </div>
  <div class="widget-content sidebar-posts">
    {% for post in site.posts %}
      {% if post.categories contains "Popular" %}
        <div class="popular-post post big-post item-{{ forloop.index0 }}">
          <a class="entry-image-wrap is-image" href="{{ post.url }}" title="{{ post.title }}">
            <span class="entry-thumb" style="background-image: url('{{ post.featured_image }}')"></span>
          </a>
          <div class="entry-header">
            <span class="entry-category">{{ post.categories | join: ', ' }}</span>
            <h2 class="entry-title">
              <a href="{{ post.url }}" title="{{ post.title }}">{{ post.title }}</a>
            </h2>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>
