---
layout: default
title: Search
permalink: /search/
---
<div class="search-results">
  <h1>Hasil Pencarian untuk "{{ page.query }}"</h1>
  <div class="blog-posts hfeed index-post-wrap">
    {% assign results = site.posts | where_exp: "post", "post.title contains page.query or post.excerpt contains page.query" %}
    {% if results.size > 0 %}
      {% for post in results %}
        <article class="blog-post hentry index-post">
          <a class="entry-image-wrap is-image" href="{{ site.baseurl }}{{ post.url }}" title="{{ post.title }}">
            {% if post.image %}
              <span class="entry-thumb lazy-ify" style="background-image:url({{ post.image }})"></span>
            {% endif %}
          </a>
          <div class="entry-header">
            <span class="entry-category">{{ post.categories[0] }}</span>
            <h2 class="entry-title">
              <a class="entry-title-link" href="{{ site.baseurl }}{{ post.url }}" rel="bookmark" title="{{ post.title }}">
                {{ post.title }}
              </a>
            </h2>
            <p class="entry-excerpt excerpt">{{ post.excerpt | strip_html | truncatewords:15 }}</p>
            <div class="entry-meta">
              <span class="entry-time">
                <time class="published" datetime="{{ post.date | date_to_string }}">{{ post.date | date_to_string }}</time>
              </span>
            </div>
          </div>
        </article>
      {% endfor %}
    {% else %}
      <p>Tidak ada hasil ditemukan untuk pencarian "{{ page.query }}".</p>
    {% endif %}
  </div>
</div>
