---
layout: page
---


<ul class="posts-list">
  {% assign current_category = page.category | default: page.title %}
  {% if site.categories[current_category] %}
    {% for post in site.categories[current_category] %}
      <li>
        <h3>
          <a href="{{ post.url | relative_url }}">
            {{ post.title }}
          </a>
          <small>{{ post.date | date: "%B %d, %Y" }}</small>
        </h3>
      </li>
    {% endfor %}
  {% else %}
    <p>No posts found in this category.</p>
  {% endif %}
</ul>
