<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="icon" href="{{ site.baseurl }}/{{site.favicon}}">

<title>{{ page.title }} | {{site.title}}</title>

{% seo %}

<link href="{{ site.baseurl }}/assets/css/theme.css" rel="stylesheet">

<!-- custom CSS - Remove this if you don't use it or choose to customize the stylesheet with sass-->
<link href="{{ site.baseurl }}/assets/css/custom.css" rel="stylesheet">
<link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/fontawesome.min.css' rel='stylesheet'/>
<!-- custom CSS end-->
  
</head>   
    
{% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
<body class="{{ layout }}">

    
<!-- Menu Navigation
================================================== -->
<header id="header-wrapper">
  <div class="main-header">
    <div class="header-inner show">
      <div class="header-header flex-center">
        <div class="container row-x1">
          <div class="header-items">
            <div class="flex-left">
              <div class="main-logo section" id="main-logo" name="Header Logo">
                <div class="widget Header" data-version="2" id="Header1">
                  <a class="mobile-menu-toggle" href="javascript:;" role="button" title="Menu"></a>
                  <a class="logo-img" href="{{ site.baseurl }}/">
                    {% if site.logo %}
                      <img alt="{{ site.title }}" data-height="80" data-width="393" src="{{ site.baseurl }}/{{ site.logo }}" title="{{ site.title }}">
                    {% else %}
                      <h1 id="h1-off">{{ site.title }}</h1>
                    {% endif %}
                  </a>
                </div>
              </div>
              <div class="supermag-pro-main-nav section" id="supermag-pro-main-nav" name="Header Menu">
                <div class="widget LinkList show-menu" data-version="2" id="LinkList101">
                  <ul id="supermag-pro-main-nav-menu" role="menubar">
                    {% for link in site.data.menus.topmenu %}
                      {% if link.sublinks %}
                        <li class="has-sub">
                          <a href="#" role="menuitem" alt="{{ link.title }}">{{ link.title }}</a>
                          <ul class="sub-menu m-sub">
                            {% for sublink in link.sublinks %}
                              {% if sublink.title == '---' %}
                                <li><hr class="dropdown-divider"></li>
                              {% else %}
                                <li>
                                  <a role="menuitem" href="{% unless sublink.external %}{{ site.baseurl }}{% endunless %}{{ sublink.url }}" alt="{{ sublink.title }}">
                                    {{ sublink.title }}
                                  </a>
                                </li>
                              {% endif %}
                            {% endfor %}
                          </ul>
                        </li>
                      {% else %}
                        <li>
                          <a role="menuitem" href="{% unless link.external %}{{ site.baseurl }}{% endunless %}{{ link.url }}" alt="{{ link.title }}">
                            {{ link.title }}
                          </a>
                        </li>
                      {% endif %}
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
            <div class="flex-right">
              <div class="main-toggle-wrap">
                <a class="main-toggle-style darkmode-toggle" href="javascript:;" role="button"></a>
                <a class="main-toggle-style show-search" href="javascript:;" role="button" title="Telusuri"></a>
              </div>
            </div>
            <div id="main-search-wrap">
              <div class="main-search">
                <form action="{{ site.baseurl }}/search" class="search-form" role="search">
                  <input autocomplete="off" class="search-input" name="q" placeholder="Telusuri" type="search" value="">
                </form>
                <a class="hide-search" href="javascript:;" role="button" title="Telusuri"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Container
================================================== -->    
      {{ content }}  
<!-- Footer
================================================== -->    
<footer class="footer container text-center">  
  <ul class="p-0 mb-1 small">
    {% for item in site.data.menus.footermenu %}
    <li>
      <a href="{% unless item.external %}{{site.baseurl}}/{% endunless %}{{item.url}}" alt="{{item.title}}">{{item.title}}</a>
    </li>
    {% endfor %}
    </ul>
    <div class="copyright small">
       Copyright © {{site.title}}. All rights reserved.
    </div>
</footer>

<!-- JavaScript
================================================== -->     
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js' type='text/javascript'></script>
<script src="{{ site.baseurl }}/assets/js/theme.js"></script>    
    
</body>

{% include analytics.html %}

</html>
