---
layout: default
disqus: false
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

<div class="flex-center" id="content-wrapper" style="transform: none;"><div class="container row-x1" style="transform: none;">
<!-- Post -->        
{% assign author = site.authors[page.author] %}
<main id='main-wrapper'>
            <!-- Post Featured Image -->
			{% if page.image %}<img class="featured-image img-fluid rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">{% endif %}
			<!-- End Featured Image -->
			<div class="mainheading">             
                
                <!-- Post Categories -->
                <div class="after-post-tags">
                    <ul class="tags">
                        {% assign sortedCategories = page.categories | sort %}
                        {% for category in sortedCategories %}
                        <li>
                         <a href="{{ site.baseurl }}/categories#{{ category | slugify }}">{{ category }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <!-- End Categories -->
                
                <!-- Post Title -->
				<h1 class="posttitle">{{ page.title }}</h1> 
                
			</div>

			

			<!-- Post Content -->
			<div class="article-post serif-font">
				{{content}}
                <div class="clearfix"></div>
			</div>

            <!-- Post Date -->
            <p>
            <small>
                <span class="post-date"><time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time></span>           
                {% if page.last_modified_at %}
                (Updated: <time datetime="{{ page.last_modified_at | date_to_xmlschema }}" itemprop="dateModified">{{ page.last_modified_at | date: "%b %-d, %Y" }}</time>)
                {% endif %}
                </small>
            </p>
            
			
            
            <!-- Prev/Next -->
            <div class="row PageNavigation mt-4 prevnextlinks d-flex justify-content-between">
              {% if page.previous.url %}
                <div class="col-md-6 rightborder pl-0">
                    <a class="thepostlink" href="{{page.previous.url | absolute_url}}">&laquo; {{page.previous.title}}</a>
                </div>
              {% endif %}
              {% if page.next.url %}
                <div class="col-md-6 text-right pr-0">
                    <a class="thepostlink" href="{{page.next.url | absolute_url}}">{{page.next.title}} &raquo;</a>
                </div>
              {% endif %}
            </div>
            <!-- End Prev/Next -->
            
            
<footer class="post-footer">
{% if page.author %}
<div class="about-author">
<div class="avatar-container">
<span class="author-avatar lazy-ify" data-image="{{site.baseurl}}/{{author.avatar}}" style="background-image:url({{site.baseurl}}/{{author.avatar}})"></span>
</div>
<div class="author-description">
<span class="author-title"><a alt="{{ author.display_name }}" href="{{ author.web }}" rel="noopener noreferrer" target="_blank">{{ author.display_name }}</a></span>
<p class="author-text excerpt">{{ author.description }}</p>
<ul class="author-links social social-color"><li class="facebook"><a href="https://facebook.com/templateify" title="facebook" rel="noopener noreferrer" target="_blank"></a></li><li class="twitter"><a href="https://twitter.com/templateify" title="twitter" rel="noopener noreferrer" target="_blank"></a></li><li class="instagram"><a href="https://www.instagram.com/templateifydotcom/" title="instagram" rel="noopener noreferrer" target="_blank"></a></li><li class="youtube"><a href="https://www.youtube.com/channel/UClJz6zSWfSpXIfhexg_CUzA?sub_confirmation=1" title="youtube" rel="noopener noreferrer" target="_blank"></a></li><li class="external-link"><a href="https://www.templateify.com/" title="external-link" rel="noopener noreferrer" target="_blank"></a></li></ul></div>
</div>
</footer>
            
            
            <!-- Begin Comments
            ================================================== -->
            <section>
            <div id="comments">                          
                {% include disqus.html %} 
            </div>
            </section>
            <!--End Comments
            ================================================== -->
            
            
</main>
<!-- End Post -->
<!-- Sidebar -->
<aside id="sidebar-wrapper">
   <div class="sidebar supermag-pro-widget-ready section" id="sidebar" name="Sidebar">
      {% include sidebar.html %}
     </div>
    </aside>
<!--End Sidebar -->
</div></div>

<!-- End Article
================================================== -->
